.card {
  background-color: white;
  border-radius: 28px;
  transition: box-shadow 0.4s, 0.4s width, height 0.4s, animation 0.4s,
    background-color 0.4s, backdrop-filter 0.4s, color 0.4s;
  will-change: width, height, transform, filter, backdrop-filter;
  width: 0px;
  height: 0px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 20px;
  transform: scale(0);

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: calc(var(--index) * 1);
    // opacity: 0;
    transition: opacity 0.4s, transform 0.4s;
    // transform: scale(0);
    will-change: opacity, transform;
    height: 100%;

    @media (max-width: 580px) {
      padding: calc(var(--index) * 1.2);
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__head-left {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__icon {
    flex-shrink: 0;
    width: calc(var(--index) * 2.5);
    height: calc(var(--index) * 2.5);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url();
    transition: width 0.4s, height 0.4s, background-image 0.4s;
    will-change: width, height, background-image;
  }

  &__title {
    font-size: calc(var(--index) * 1.8);
    margin: 0;
    max-width: 280px;
    // overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: transform 0.4s;
    transform: translateY(-12px);
    will-change: transform;
  }

  &__desc {
    position: absolute;
    display: block;
    opacity: 0.6;
    transform: translateY(-10px);
    will-change: opacity;
    transition: opacity 0.4s, visibility 0.2s;
    font-size: calc(var(--index) * 1);
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    transition: opacity 0.4s;
    will-change: opacity;
    // overflow: hidden;
    /* opacity: 0; */
  }
}
