.card-param {
  display: flex;
  align-items: center;
  gap: 10px;

  &__icon {
    flex-shrink: 0;
    width: calc(var(--index) * 2);
    height: calc(var(--index) * 2);
    transition: fill 0.4s;

    &_footer {
      width: 26px;
      height: 26px;
    }
  }

  &__text {
    font-size: calc(var(--index) * 1.2);

    &_footer {
      font-size: calc(var(--index) * 1.2);
      ;
    }
  }
}
