// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: Arial, Verdana, sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --base-color: rgb(254, 100, 64);
  --base-color-active: rgb(207, 77, 47);
  --black-text: rgb(36, 36, 36);
  --gray-text: rgb(63, 63, 63);

}
